@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

/* Hide scrollbar for IE, Edge and Firefox */


:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  margin-bottom: 100px;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logo {
  font-size: 25px;
  color: var(--main-color);
  font-weight: 600;
  border-radius: 10px;
  height: auto;
  width: auto;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  opacity: 0;
  box-shadow: 0 0 25px var(--main-color);
  animation: slideRight 1s ease forwards;
}

.navbar ul {
  list-style-type: none;
  display: flex;
}

.navbar a {
  display: inline-block;
  font-size: 18px;
  color: var(--text-color);
  font-weight: 500;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  font-size: 20px;
}

// DropDown Menu
.dropdown_menu {
  display: none;
  position: absolute;
  // right: 2rem;
  top: 60px;
  height: 0;
  // width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  li {

    padding: 0.7;
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  a {
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
    font-weight: 500;
  }

  :hover,
  .active {
    color: var(--main-color);
    font-size: 20px;
  }
}

.open {
  align-items: center;
  padding: 1rem;
  height: 200px;
  width: 100%;
}


#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home {
  position: relative;
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10% 0;

}

.home-content {
  /* max-width: 60%; */
  max-width: 600px;
}

.home-content h3 {
  font-size: clamp(20px, 1.5vw, 25px);
  font-weight: 700px;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 span {
  color: var(--main-color);
}

.home-content p {
  font-size: clamp(12px, .8vw, 16px);
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h1 {
  font-size: clamp(30px, 3vw, 46px);
  font-weight: 700;
  margin: -3px 1;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.7s;
}

// .multiple-text{
//     width: 100%;
//     overflow: hidden;
// }

// .multiple-text .text {
//      position: relative;
//      font-size: clamp(20px, 1.5vw, 25px);
//     //  font-weight: 600;
//     color: var(--main-color);
// }

// .multiple-text .first-text{
//     color: #fff;
//     margin-right: 5px;
//     .sec-text{
//     font-weight: 600;

//     }
// }
// .text.sec-text:before{
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     background-color: var(--bg-color);
//     border-left: 2px solid var(--main-color);
//     animation: animate 4s steps(12) infinite;

// }

// @keyframes animate{
//     40%, 60%{
//         left:calc(100% + 4px);
//     }
//     100%{
//         left: 0%;
//     }
// }


.home-img img {
  /* max-width: 205rem;  */
  /* max-height: 30vw; */
  height: 30vw;
  /* margin-right: -20px; */
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  //  animation-delay: 2s, 3s;
}

.social-media {
  width: 150%;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(15px, 2vw, 20px);
  color: var(--main-color);
  /* height: 40px; */
  height: clamp(15px, 6vh, 40px);
  width: clamp(15px, 10vw, 40px);
  text-decoration: none;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  margin: 30px 20px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.social-media a:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 20px var(--main-color);
}

.btn {
  display: inline-block;
  /* padding: 12px 28px; */
  padding: 1vh 2vh;
  background-color: var(--main-color);
  border-radius: 40px;
  color: var(--bg-color);
  letter-spacing: 1px;
  font-size: clamp(10px, .8vw, 16px);
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 0 10px var(--main-color);
  cursor: pointer;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.2s;
}

/* about style */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100vh;
  background: var(--second-bg-color);
}

.about-img img {
  width: 70vw;
}

.about-content {
  /* border: 1px solid red; */
  padding-left: clamp(10px, 8vw, 500px);
}

.heading {
  text-align: center;
  font-size: clamp(12px, 6vw, 46px);
}

.heading span {
  color: var(--main-color);
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: clamp(8px, 1.4vw, 30px);
}

.about-content p {
  font-size: clamp(10px, .8vw, 17px);
  padding-right: clamp(10px, 8vw, 500px);
  margin: 2rem 0 3rem;
}

/* services style */
.services {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.services h2 {
  margin-bottom: 5rem;
}

.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.service-container .service-box {
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--second-bg-color);
  transition: 0.5s ease;
}

.service-container .service-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.service-box i {
  font-size: clamp(30px, 3.8vw, 75px);
  color: var(--main-color);
}

.service-box h3 {
  font-size: clamp(8px, 1.4vw, 30px);
}

.service-box p {
  font-size: clamp(10px, .8vw, 17px);
  margin: 1rem 0 3rem;
}

.services .btn:hover {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Portfolio style */
.portfolio {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: var(--second-bg-color);
}

.portfolio h2 {
  margin-bottom: 5rem;
}

.portfolio-container {
  /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
  align-items: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: .5s ease;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
  color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 3rem;
  font-weight: bolder;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: .3rem 0 1rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}


/* Contact Style */
.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact h2 {
  /* margin-bottom: 3rem; */
  margin: 5rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: .8rem;
  margin: .7rem 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

/* Footer Design */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--main-color);
  border-radius: .8rem;
  transition: .5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

/* KEYFRAMES ANIMATION */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-24px);
  }

  100% {
    transform: translateY(0);
  }
}


/* Mobile responsive */

@media(max-width: 768px) {

  //   #menu-icon{
  //     display: block;
  // }

  .navbar .links {
    // position: absolute;
    // top: 100%;
    // left: 0;
    // width: 100%;
    // padding: 1rem 3%;
    // background: var(--bg-color);
    // border-top: .1rem solid rgba(0, 0, 0, .2);
    // box-shadow: 0.5rem 1rem rgba(0, 0, 0, .2);
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  // .navbar.active{
  //     display: block;
  // }

  // .navbar a{
  //     display: block;
  //     font-size: 2rem;
  //     margin: 3rem 0;
  // }

  .dropdown_menu {
    display: block;
  }

  .home-img img {
    width: 80vw;
    height: 30vh;
  }

  .about-img img {
    width: 150vw;
    height: 30vh;
  }

  .portfolio-layer h4 {
    font-size: large;
  }

  .portfolio-layer p {
    font-size: small;
  }

}

@media only screen and (max-width: 480px) and (min-width: 320px) {


  // .dropdown_menu{
  //     left: 2rem;
  //     right: 2rem;
  //     width: 100%;
  // }


  // .home-content .multiple-text, .hlo, .name {
  //   position: relative;
  //   bottom: 15rem;
  // }

  .home-content .hlo,
  .name,
  .running-text {
    position: relative;
    bottom: 15rem;
  }

  .home-content .running-text h3 {
    // border: 1px solid red; 
    font-size: large;
    width: 110%;
    height: 6vh;
  }

  // .home-content .multiple-text{
  //   border: 1px solid red; 
  //  font-size:large;
  //  font-weight: 600;



  //   .text{
  //       font-size:large;
  //   }
  //   .sec-text{
  //       font-weight: 600;
  //   }
  // }

  .home-img {
    /* border: 2px solid red; */
    position: absolute;
    margin-right: 5vh;
    margin-bottom: 10vh;


    /* height: 25vh; */
    /* width: 50rem; */
  }

  .home-img img {
    // display: none;

    /* border: 2px solid red; */
    width: 80vw;
    height: 30vh;


  }

  .home-content p,
  .social-media,
  .home-content .btn {
    position: relative;
    top: 15rem;
  }


  /* #about, #services{
    height: 500px;  
  } */

  /* About */
  .about {
    flex-direction: column;
  }

  .about-content h2 {
    position: relative;
    bottom: 35rem;
    text-align: center;
    /* margin-bottom: 20rem; */

  }

  .about-img img {
    position: relative;
    top: 5rem;
    margin-bottom: 3rem;
    height: 30vh;
    width: 80vw;
    /* top: 2rem; */
    /* z-index: -2; */
  }

  .about-content h3 {
    font-size: medium;
  }

  /* Services  */

  #services {
    height: 120vh;
  }

  /* .services .btn, .services p {
    height: 200px;
    display: none;
  } */

  .services .service-box {
    /* border: 1px solid red; */
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
  }

  .services i {
    font-size: 5vh;
  }

  .services .card-title {
    font-size: 1.5vh;
  }

  /* Portfolio */
  .portfolio-box {
    width: 100%;
    height: 15vh;

  }

  .portfolio-layer h4 {
    font-size: medium;
  }

  .portfolio-layer p {
    font-size: smaller;
  }

  .portfolio-layer a {
    width: 20%;
    height: 30%;
  }

  .portfolio-layer a i {
    font-size: medium;
  }

  /* footer */
  .footer .footer-text p {
    font-size: small;
  }


}